html {
  background-color: maroon;
}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 500px;
  margin: 50px auto;
  padding: 25px 75px;
  border-radius: 50px;
}
h1 {
  color: chocolate;
}

h1,
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: chocolate;
}

a {
  color: maroon;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
